<app-icon-bar></app-icon-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divArbolNavegacion">
            <app-tree-nav></app-tree-nav>
            <app-log-out></app-log-out>
        </div>
        <div class="col-10">

            <div class="card">
                <div class="card-header">
                    <h2>Reportes y estadísticas</h2>
                </div>
                <div class="btn-group-vertical btn-group-lg">
                    <button type="button" class="btn btn-success">Pedidos Realizados</button>
                    <button type="button" class="btn btn-success">Cantidad total</button>
                    <button type="button" class="btn btn-success">Cantidad por usuario</button>
                    <button type="button" class="btn btn-success">Ventas realizadas</button>
                </div>
            </div>
        </div>
    </div>
</div>