<nav class="navbar cabecera">
    <img src="assets/img/logo.png" width="100" alt="logo">
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 final" type="submit">Cerrar sesion</button>
    </form>
</nav>
<div class="row">
    <div class="col-2">
        <app-tree-nav></app-tree-nav>
        <app-log-out></app-log-out>
    </div>
    <div class="col-10">

        <div class="card">
            <div class="card-header">
                <h2>Reportes y estadísticas</h2>
            </div>
            <div class="btn-group-vertical btn-group-lg">
                <button type="button" class="btn btn-success">Pedidos Realizados</button>
                <button type="button" class="btn btn-success">Cantidad total</button>
                <button type="button" class="btn btn-success">Cantidad por usuario</button>
                <button type="button" class="btn btn-success">Ventas realizadas</button>

            </div>
        </div>
    </div>
</div>