<div class="cabecera">
    <img src="assets/img/logo.png" width="100" alt="logo">
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/carrusel-agricultura.jpg" class="d-block w-100 imgcarr" alt="...">
        </div>
        <!--
        <div class="carousel-item">
            <img src="assets/img/c4.jpg" class="d-block w-100 imgcarr" alt="...">
        </div>
-->
    </div>
</div>

<h5 class="pb-4 mb-4 font-italic border-bottom"></h5>
<div class="botones" role="main">
    <div class="row">
        <div class="col-md-4 centrado">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Inicie Sesion</h5>
                    <button class="btn btn-success" (click)="login()">Iniciar sesion</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 centrado" style="width: 18rem;">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Contactenos</h5>
                    <button class="btn btn-success" (click)="contact()">Contacto</button>

                </div>
            </div>
        </div>
        <div class=" col-md-4 centrado" style="width: 18rem;">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Sobre nosotros </h5>
                    <button class="btn btn-success" (click)="about()">Sobre nosotros</button>
                </div>
            </div>
        </div>
    </div>
</div>