<div class="">
    <!--
    <div class="btn-group-vertical button-l" role="group" aria-label="Vertical button group">
        <button type="button" class="btn fondo">Inicio</button>
        <div class="dropdown-divider fondo"></div>
        <button type="button" class="btn fondo button-l" (click)='irPedidos()'>Pedidos</button>
        <button type="button" class="btn fondo button-l" (click)='irEstadisticas()'>Reportes y estadísticas </button>
        <button type="button" class="btn fondo button-l" (click)='irMiembros()'>Miembros</button>
        <button type="button" class="btn fondo button-l" data-toggle="dialogLogOut" data-target="#dialogLogOut">Cerrar
            Sesión
            <app-log-out></app-log-out>
        </button>

    </div>
    -->
    <div class="">
        <a class="dropdown-item" (click)='irInicio()'>Inicio</a>
        <div class="dropdown-divider linea"></div>
        <button class="dropdown-item " (click)='irPedidos()'>Pedidos</button>
        <button class="dropdown-item " (click)='irEstadisticas()'>Estadísticas</button>
        <button class="dropdown-item " (click)='irMiembros()'>Miembros</button>
        <button class="dropdown-item " type="submit" data-toggle="modal" data-target="#cerrar-sesion">Cerrar sesión</button>
    </div>
</div>
<app-log-out></app-log-out>