<nav class="navbar cabecera">
    <img src="assets/img/logoasopapsc.png" width="100" alt="logo" (click)="toHome()" href="">
    <form class="form-inline">
        <button class="btn boton-verde" (click)="toWelcome()" type="submit">Volver</button>
        <button class="btn final boton-morado" (click)="toLogin()" type="submit">Iniciar sesion</button>
    </form>
</nav>
<app-log-out></app-log-out>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Analista y Tester</strong>
                    <h3 class="mb-0">Nilson Alberto Gil Lopez</h3>
                    <div class="mb-3"></div>
                    <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary fa fa-facebook"
                        href="https://www.facebook.com/nilson.lopez3">
                        <a> Facebook</a>
                    </button>
                    <button type="button" class="btn boton-morado fa fa-instagram">
                        <a> Instagram</a>    
                    </button>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="200"
                        src="https://scontent.fbog10-1.fna.fbcdn.net/v/t1.0-9/82848894_3114190165281093_7760639517391847424_n.jpg?_nc_cat=104&_nc_eui2=AeFhfpzNH7QHsTtvqjaacpws-gRetq8rZ6ueekBGUz-MrqGkNrSQDzaF9oZoUzELAc-4TbM0xdckRF6wkSqnTrVfB-uxIlzQsSJ-89JnvdMzCw&_nc_oc=AQmCXqb0qN0HKDp2l44VnQGaijVp3qi2nOlPPW1dxBMcmjOzia6ImbUbC35CO9tEBjs&_nc_ht=scontent.fbog10-1.fna&oh=7872cfc74d290766da59e5f2f39d1989&oe=5EBD088E"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Diseñador y programador</strong>
                    <h3 class="mb-0">Carlos Sebastian Rodriguez</h3>
                    <div class="mb-3"></div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-primary fa fa-facebook"
                            href="https://www.facebook.com/">
                            <a> Facebook</a>
                        </button>
                        <button type="button" class="btn boton-morado fa fa-instagram">
                            <a> Instagram</a>
                        </button>

                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="200"
                        src="https://scontent.fbog10-1.fna.fbcdn.net/v/t1.0-1/74627078_2485316274855107_7416133872682795008_o.jpg?_nc_cat=106&_nc_eui2=AeErneVI4B5mSQUlhqJ1h4JN6ue4XPd81M1OrJJyt8W3YABE6jIMrbMwRFIp_wlzF38EFm_DJm6prLDDYPvC0mfs4jwsvB43sxnu4Hd-sQifBg&_nc_oc=AQmI35SDafOllzCkRXWLOi20l7DPkZ72djkWThhrOmSMNVle6HDZ1TQ0H3D6Ja3ayDs&_nc_ht=scontent.fbog10-1.fna&oh=1948ce9e32416b93c06054f5c985454f&oe=5ECE189E"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-warning">Administrador de proyecto, Documentador y
                        Asegurador de calidad</strong>
                    <h3 class="mb-0">Duban Estiven Garcia Ramos</h3>
                    <div class="mb-3"></div>
                    <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary fa fa-facebook"
                        href="https://www.facebook.com/">
                        <a> Facebook</a>    
                    </button>
                    <button type="button" class="btn boton-morado fa fa-instagram">
                        <a> Instagram</a>    
                    </button>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="200"
                        src="https://scontent.fbog10-1.fna.fbcdn.net/v/t1.0-9/s960x960/70648127_2180088758955153_1692369852250980352_o.jpg?_nc_cat=104&_nc_eui2=AeEJwB-qHUXneWzILsvu86rskK58c-5TQjAHr7DjWZQHd3i64BMrzgLmKtjQB288A4s_IOIDN2y4Mz3aIwXS4aI0nzWMmLmNEIsboWHVbAB5qA&_nc_oc=AQmdSZVbcJ3zE_eaArndcUpoFxxvp5qQXHXm-MXOJz8wnKlLNwpgSNmmlALJyK8OFr0&_nc_ht=scontent.fbog10-1.fna&oh=95b0ccd28a73900f33b12e6c322ceb98&oe=5EC0BDCD"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                </div>
            </div>
        </div>
    </div>
</div>