<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos de miembro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5 class="col-5">Nombre(s)</h5>
                        <p class="col-7">{{miembro.first_name}} {{miembro.second_name}}</p>
                    </div>
                    <div class="col-12">
                        <h5 class="col-5">Apellido(s)</h5>
                        <p class="col-7">{{miembro.first_last_name}} {{miembro.second_last_name}}</p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5">Documento de identidad</h5>
                        <p class="col-7">{{miembro.cedula_member}}</p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5">Correo electrónico</h5>
                        <p class="col-7">{{miembro.password_member}}</p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>

                    <div class="col-12">
                        <h5 class="col-5"></h5>
                        <p class="col-7"></p>
                    </div>
                </div>
                <p>{{miembro.cedula_member}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn boton-morado" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>