.card-deck {
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}

.final {
    margin-right: 30px !important;
}

.lista {
    margin-left: 2%;
    margin-right: 2%;
}

.botones-sup {
    margin-top: 2%;
    text-align: center;
}
.botones-sup div{
    margin-top: 2%;
    margin-bottom: 2%;
}

#divTablaMiembros{
    border: 2px solid black;
    padding-left: 0px;
    padding-right: 0px;
    margin: 1px 0px;
}
#divAgregar, #divBuscador{
    margin: 1px 0px;
    padding-left: 0px;
    padding-right: 0px;
}