<app-icon-bar></app-icon-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divArbolNavegacion" id="divArbolNavegacion">
            <app-tree-nav></app-tree-nav>
            <app-log-out></app-log-out>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
            <div class="container">
                <div class="row" id="divAgregaryBuscador">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" id="divAgregar">
                        <button class="btn btn-outline-success" type="submit" data-toggle="modal" data-target="#Modal">Agregar miembro
                        </button>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6" id="divBuscador">
                        <div class="input-group-append">
                            <div class="input-group">
                                <input [(ngModel)]="buscarMiembroFiltro" type="text" class="form-control" placeholder="Buscar miembros por cédula, nombre, apellido, correo o teléfono">
                                <!-- <div class="input-group-append"
                                        <button class="btn btn-outline-success" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lista border border-secondary" id="divTablaMiembros">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm row-border hover" id="tablaMiembros">
                            <thead class="text-center fondo">
                                <tr class="">
                                    <th>Cédula</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Correo electrónico</th>
                                    <th>Teléfono</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let miembro of miembros | filter: buscarMiembroFiltro" class="text-center">
                                    <td class="text-center">{{miembro.cedula_member}}</td>
                                    <td class="text-center">{{miembro.first_name}}</td>
                                    <td class="text-center">{{miembro.first_last_name}}</td>
                                    <td class="text-center">{{miembro.email_member}}</td>
                                    <td class="text-center">{{miembro.phone_number}}</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button class="btn boton-verde" (click)="sendMiembro(miembro.cedula_member)" data-toggle="modal" data-target="#modalVer">Ver
                                            </button>
                                            <button class="btn boton-morado" (click)="sendMiembro(miembro.cedula_member)" data-toggle="modal" data-target="#modal-confirm-edit-member">Editar
                                            </button>

                                            <button class="btn btn-outline-danger" (click)="enviarCedula(miembro.cedula_member)" data-toggle="modal" data-target="#delete-modal">Eliminar
                                            </button>
                                        </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Empieza la seccion de ver el miembro-->
</div>
<app-add-miembro></app-add-miembro>
<app-delete-miembro></app-delete-miembro>
<app-edit-miembro></app-edit-miembro>
<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos de miembro: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 row" role="group">
                        <h5 class="col-auto">Foto: </h5>
                        <img [src]="miembroAux.image_profile_member">
                    </div>
                    <div class="col-12 row" role="group">
                        <h5 class="col-auto">Nombre(s): </h5>
                        <p class="col-auto">{{miembroAux.first_name}} {{miembroAux.second_name}}</p>
                    </div>
                    <div class="col-12 row">
                        <h5 class="col-auto">Apellido(s): </h5>
                        <p class="col-auto">{{miembroAux.first_last_name}} {{miembroAux.second_last_name}}</p>
                    </div>

                    <div class="col-12 row">
                        <h5 class="col-auto">Documento de identidad: </h5>
                        <p class="col-auto">{{miembroAux.cedula_member}}</p>
                    </div>

                    <div class="col-12 row">
                        <h5 class="col-auto">Correo electrónico: </h5>
                        <p class="col-auto">{{miembroAux.password_member}}</p>
                    </div>

                    <div class="col-12 row">
                        <h5 class="col-auto">Género: </h5>
                        <p class="col-auto">{{miembroAux.gender}}</p>
                    </div>

                    <div class="col-12 row">
                        <h5 class="col-auto">Estado de miembro: </h5>
                        <p class="col-auto">{{miembroAux.is_active_user}}</p>
                    </div>

                    <div class="col-12 row">
                        <h5 class="col-auto">Numero de teléfono: </h5>
                        <p class="col-auto">{{miembroAux.phone_number}}</p>
                    </div>

                    <div class="col-12 row">
                        <h5 class="col-auto">Fecha de nacimiento: </h5>
                        <p class="col-auto">{{miembroAux.dateOfBirth}}</p>
                    </div>

                    <div class="col-12 row">
                        <h5 class="col-auto">Dirección: </h5>
                        <p class="col-auto">{{miembroAux.address.address_description}} {{miembroAux.address.city.name_city}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn boton-morado" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--
    <app-ver-miembro [cedula]="auxCedula"></app-ver-miembro>
-->