<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip01">Primer nombre</label>
                            <input type="text" class="form-control" id="validationTooltip01" placeholder="First name" value="Mark" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>
                        <div class="">
                            <label for="validationTooltip02">Primer apellido</label>
                            <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" value="Otto" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>


                        <div class="">
                            <div class="form-group row">
                                <label for="example-month-input" class="col-6 col-form-label">Fecha límite pedido </label>
                                <input class="form-control col-6" type="month" value="2011-08" id="example-month-input" required>
                            </div>
                            <div class="invalid-tooltip">
                                Por favor, ingrese una fecha valida
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripción del pedido</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>