<div class="modal fade" id="modalAddProduct" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar nuevo producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="datos_producto_formulario" (ngSubmit)="addProduct()">
                    <div class="col-12 form-group ">
                        <label class="col-form-label">Nombre del producto</label>
                        <div class="input-group">
                            <input [(ngModel)]="productoAAgregar.name_product" formControlName="nombre_producto" type="text" class="form-control col-9" placeholder="Nombre del producto">
                        </div>
                        <div *ngIf="formulario.nombre_producto.invalid && (formulario.nombre_producto.dirty || formulario.nombre_producto.touched)">
                            <div *ngIf="formulario.nombre_producto.errors.required" class="alert alert-danger">
                                Debe un ingresar un nombre para el producto
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group ">
                        <label class="col-form-label">Imagen del producto</label>
                        <div class="input-group border">
                            <input [(ngModel)]="productoAAgregar.product_image" formControlName="foto_producto" type="file" accept="image/png, .jpeg, .jpg, image/gif" class="form-control-file col-9">
                        </div>
                        <div *ngIf="formulario.foto_producto.invalid && (formulario.foto_producto.dirty || formulario.foto_producto.touched)">
                            <div *ngIf="formulario.foto_producto.errors.required" class="alert alert-danger">
                                Debe seleccionar una imagen para el producto
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="vaciarCampos()" type="button" class="btn boton-morado" data-dismiss="modal">Cerrar</button>
                <button (click)="addProduct()" type="button" class="btn boton-verde" type="submit" [disabled]="datos_producto_formulario.invalid" data-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>