<header>
    <div class="cabecera">
        <img src="assets/img/logo.png" width="100" alt="logo">
    </div>
</header>
<!--
    <div id="form_wrapper" class="input_container">
        <div class="container" id="form_right">
            <form action="">
                <div id="form_left">
                    <img class="rounded-circle" src="assets/img/loginMember.jpg" alt="computer icon">
                </div>
                <h1>Iniciar sesión </h1>
                <div class="input_container">
                    <i class="fas fa-envelope"></i>
                    <input placeholder="usuario" type="email" name="Email" id="field_email" [(ngModel)]="email" class='input_field'>
                </div>
                <div class="input_container">
                    <i class="fas fa-lock"></i>
                    <input placeholder="Contraseña" type="password" name="Password" id="field_password" [(ngModel)]="password" class='input_field'>
                </div>
            </form>

            <button value="Login" id='input_submit' class='btn btn-success ' (click)='login()'>Ingresar</button>
            <span>ha olvidado <a href="#"> usuario / contraseña ?</a></span>
            <span id='create_account'>
                <a href="#" class="border-success">crear cuenta ➡</a>
            </span>
        </div>
    </div>
-->

<body>
    <form class="form-signin" id="form_wrapper">

        <div class="text-center mb-4">
            <img class="mb-4 rounded-circle" src="assets/img/loginMember.jpg" alt="" width="250" height="250">
            <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
        </div>

        <div class="form-label-group">
            <input placeholder="Correo electrónico" type="email" name="Email"id="field_email" [(ngModel)]="email" class="form-control"  required="" autofocus="">
            
            <label for="inputEmail">Correo electrónico</label>
        </div>

        <div class="form-label-group">
            <input name="Password" id="field_password" [(ngModel)]="password" type="password" class="form-control" placeholder="Contraseña" required="">
            <label for="inputPassword">Contraseña</label>
        </div>

        <button class="btn btn-lg btn-block boton-verde-full" type="submit" value="Login" id='input_submit'
            (click)='login()'>
            Iniciar sesión
        </button>
<!-- 
        <p class="mt-5 mb-3 text-muted text-center">
            ha olvidado
            <a href="#">
                usuario / contraseña ?
            </a>
        </p> -->
    </form>
</body>