<div class="modal fade" id="modalVerPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aportes de los miembros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-4" *ngFor="let datos_pedido of lista_aportes">
                        <div class="card-body">
                            <h3 class="card-title">{{datos_pedido.nombre}}</h3>
                            <p class="card-text">Aportó: {{datos_pedido.cantidad}} bultos</p>
                            <p class="card-text">Total a pagar por aporte {{datos_pedido.pago}} bultos</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn boton-morado" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

