<nav class="navbar cabecera">
    <img src="assets/img/logo.png" width="100" alt="logo">
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 final" type="submit">Cerrar sesion</button>
    </form>
</nav>

<div class="card-deck">
    <div class="card border-success bg-light text-center">
        <img src="assets/img/checklist.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pedidos</h5>
            <p class="card-text">Listado de los pedidos que se han creado.</p>
            <button class="btn btn-success" (click)='irPedidos()'> Ver </button>
        </div>
    </div>
    <div class="card border-success bg-light text-center">
        <img src="assets/img/miembros.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Miembros</h5>
            <p class="card-text">Listado completo de los miembros activos de la asociación.</p>
            <button class="btn btn-success" (click)='irMiembros()'> Ver </button>
        </div>
    </div>
    <div class="card border-success bg-light text-center">
        <img src="assets/img/analytics.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estadísticas</h5>
            <p class="card-text">Generación de los reportes básicos de la asociación.</p>
            <button class="btn btn-success" (click)='irEstadisticas()'> Ver estadisticas</button>
        </div>
    </div>
</div>