.card-deck {
    margin-top: 2% !important;
    margin: 0em;
    padding-left: 10%;
    padding-right: 10%;
}

.border-secondary {
    border-color: #42075b 1px solid !important;
    background-color: white !important;
}

.border-secondary:hover {
    background-color: #ecd4ff !important;
}

.final {
    margin-right: 30px !important;
}

.navmenu {
    float: left;
}

img {
    padding: 5%;
}

.final {
    margin-right: 30px !important;
}

.botones-sup {
    margin-top: 2%;
    text-align: end;
}
.img-a{
    margin-left: 5%;
}
