* {
    margin: 0%;
    padding: 0%;
}

.cabecera {
    padding: 0px;
    font-weight: 600;
}

.centrado {
    text-align: center;
}

.nav {
    margin-left: 0px;
}

.navegation {
    color: black;
    margin-left: 0px;
    font-size: 2.5em;
}

.navegation:hover {
    color: green;
}

.no-padd {
    padding: 0%;
}

.linea-final {
    margin-left: 1%;
    margin-right: 1%;
}

.boton-morado {
    color: #8a25b1;
    background: white;
    border-color: #8a25b1;
}

.boton-morado:hover {
    color: white;
    background: #8a25b1;
    border-color: #8a25b1;
}

.linea {
    background-color: black;
}

.morado-1 {
    background: #a55fc1;
}

.morado-2 {
    background: #8a25b1;
}

.morado-3 {
    background: #42075b;
}

.verde-logo {
    background: #74d14c;
}

.verde-1 {
    background: #9fc001;
}

.verde-2 {
    background: #99d578;
}

.verde-3 {
    background: #71cc49;
}

.verde-4 {
    background: #207b25;
}