.cabecera {
    padding: 0px;
    background-color: #f1f8e9;
    font-weight: 600;
}

.fondo {
    background-color: #f1f8e9;
}

.centrado {
    text-align: center;
}

.nav {
    margin-left: 0px;
}

.navegation {
    color: black;
    margin-left: 0px;
    font-size: 2.5em;
}

.navegation:hover {
    color: green;
}

.no-padd {
    padding: 0%;
}