/* You can add global styles to this file, and also import other style files */

.cabecera {
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: #f1f8e9;
    font-weight: 600;
}

.fondo {
    background-color: #f1f8e9;
}

.centrado {
    text-align: center;
}