<div class="container-fluid">
    <div class="row">
        <div class="mb-3"></div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 container" >
            <h3 class="mb-4"> Cantidad total aportada por producto</h3>
            <h5> Cantidad total de papa aportada</h5>
            <div class="mb-4" style="width: 95%;">
                <canvas baseChart [chartType]="'line'" [datasets]="chartData2" [labels]="chartLabels2"
                    [options]="chartOptions2" [legend]="true" [colors]="lineChartColors" (chartClick)="onChartClick($event)">
                </canvas>
            </div>
            <h5> Cantidad total de arveja aportada</h5>
            <div class="mb-4" style="width: 95%;">
                <canvas baseChart [chartType]="'line'" [datasets]="chartData3" [labels]="chartLabels3"
                    [options]="chartOptions3" [legend]="true" [colors]="lineChartColors2" (chartClick)="onChartClick($event)">
                </canvas>
            </div>
            <h5> Cantidad total de zanahoria aportada</h5>
            <div class="mb-4" style="width: 95%;">
                <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels"
                    [options]="chartOptions" [legend]="true" [colors]="lineChartColors3" (chartClick)="onChartClick($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>