.card-deck {
    margin-bottom: 50px;
    width: 90%;
    align-content: center;
}

.final {
    margin-right: 30px !important;
}

.botones-sup {
    margin-top: 2%;
    text-align: end;
    margin-bottom: 2%;
}
