<app-icon-bar></app-icon-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divArbolNavegacion">
            <app-tree-nav></app-tree-nav>
            <app-log-out></app-log-out>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
            <form class="container">
                <div class="row botones-sup" id="divAgregaryBuscador">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" id="divAgregar">
                        <button class="btn boton-verde-full" type="submit" data-toggle="modal"
                            data-target="#exampleModal">Agregar nuevo pedido</button>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6" id="divBuscador">
                        <div class="input-group-append">
                            <div class="input-group">
                                <input [(ngModel)]="filtroBuscarPedidos" type="text" class="form-control"
                                    placeholder="Buscar pedidos" name="buscarPedidos">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="album">
                <div class="container">
                    <div class="row">
                        <div class="col-4 mb-4" *ngFor="let pedido of pedidos | filter: filtroBuscarPedidos">
                            <div class="card border-secondary">
                                <img src="assets/img/{{pedido.product.product_image}}" class=" card-img-top"
                                    alt="{{pedido.product.product_image}}">

                                <div class="card-body">
                                    <h5 class="card-title">Pedido de: {{pedido.product.name_product}} </h5>
                                    <p class="card-text">{{pedido.description}}</p>
                                    <p>Dirección de entrega: {{pedido.address_request.address_description}}</p>
                                    <!-- <p>ESTADO: {{pedido.is_active}}</p> -->
                                    <p>Cantidad requerida: {{pedido.required_quantity}}</p>
                                    <p>Cantidad recolectada: {{pedido.quantity}}</p>
                                    <small class="text-muted">Fecha límite: {{convertirFecha(pedido.limit_date_request)}}</small>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!-- <button type="button" class="btn btn-sm btn-outline-success">Ver</button>-->
                                            <button type="button" class="btn btn-sm boton-morado"
                                                (click)="getIdPedido(pedido.id_request)" data-toggle="modal"
                                                data-target="#modalEditPedido">Editar</button>
                                            <button type="button" class="btn btn-outline-danger"
                                                (click)="getIdPedido(pedido.id_request)" data-toggle="modal"
                                                data-target="#delete-pedido-modal">Eliminar
                                            </button>
                                            <button type="button" class="btn btn-outline-success"
                                                (click)="verPedido(pedido.id_request)" data-toggle="modal"
                                                data-target="#modalVerPedido">Ver aportes 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-add-pedido></app-add-pedido>
                    <app-delete-pedido></app-delete-pedido>
                    <app-log-out></app-log-out>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    editar pedido
-->
<div class="modal fade bd-example-modal-lg" id="modalEditPedido" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Pedido</h5>
                <button (click)="vaciarCampos()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="datos_pedido_formulario_editar">
                    <div class="form-row">
                        <div class="row form-inline">
                            <div class="col-6 form-group">
                                <label class="col-form-label">Producto</label>
                                <select formControlName="producto" class="custom-select" id="select-productos">
                                    <option *ngFor="let producto of productosForSelect">{{producto.name_product}}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button (click)="vaciarCampos()" type="button" class="btn boton-morado"
                                data-dismiss="modal">Cancelar</button>
                            <button (click)="editPedido()" type="submit" class="btn btn-outline-success"
                                data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- VER PEDIDO -->
<div class="modal fade" id="modalVerPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aportes de los miembros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                


<div class="lista border border-secondary" id="divTablaMiembros">
    <div class="">
        <div class="table-responsive">
            <table class="table table-hover table-sm row-border hover" id="tablaMiembros">
                <thead class="text-center fondo">
                    <tr class="">
                        <th>Nombre</th>
                        <th>Total aportado</th>
                        <th>Total a pagar</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aportes of lista_aportes  "class="text-center">
                        <td class="text-center">{{aportes[0]}}  {{aportes[1]}}</td>
                        <td class="text-center">{{aportes[2]}}</td>
                        <td class="text-center">200</td>
                      
                        
                </tbody>
            </table>
        </div>
    </div>
</div>

            <div class="modal-footer">
                <button type="button" class="btn boton-morado" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>